<section>
  <div class="profile-image-section">
    <div class="w-20 md:w-22 lg:w-28 h-20 md:h-22 lg:h-28" [ngStyle]="{'background-image':userDetails?.profilePhoto}">
    </div>
    <form action="">
      <input (input)="uploadCover($event)" id="files" type="file" accept="image/*" />
      <label for="files">Edit</label>
    </form>
  </div>

  <div class="profile-info-section w-2/2 sm:w-1/2">
    <span *ngIf="requiredData" class="mt-2">Must Contain atleast 4 letter !</span>
    <span *ngIf="existData" class="mt-2">User Name is required !</span>
    <form class="flex flex-col justify-start mt-3 gap-y-5 profile-info">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>Full name</label>
        <input [formControl]="FullNameControl" (input)="fullNameUpdate($event)" class="lg:w-2/3" type="text"
          placeholder="Enter your name" value="{{userDetails?.fullName}}">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>User name</label>
        <input [formControl]="UserNameControl" class="lg:w-2/3" type="text" placeholder="Enter your username"
          value="{{userDetails?.userName}}">
      </div>
    </form>
  </div>
</section>