<section>
  <div class="workspace w-full flex justify-start gap-2">
    <p class="workspace-name" *ngIf="userDetails">{{userDetails.workSpaces.projectWorkspace.name}}</p>
  </div>

  <div class="mt-3 workspace-settings">
    <div class="workspace-settings-tool" (click)="boardSettings()">
      <i class="fa-solid fa-gear"></i>
      <h5>Settings</h5>
    </div>
  </div>

  <div class="workspace-settings">
    <div class="workspace-settings-tool" [routerLink]="['/workspaces/project-workspace']">
      <i class="fa-solid fa-clone"></i>
      <h5>Boards</h5>
    </div>
  </div>
  <div>
    <hr>
    <div class="workspace-board-container">
      <div [ngStyle]="{'color':projectRouteColor==='boards'?'#2f7fcf':'#222'}" class="workspace-board-bar"
        [routerLink]="['/workspaces/project-workspace/boards',projectId]">
        <i class="fa-solid fa-table-columns"></i>
        <h5>Board</h5>
      </div>
      <div [ngStyle]="{'color':projectRouteColor==='contributors'?'#2f7fcf':'#222'}" class="workspace-board-bar"
        [routerLink]="['/workspaces/project-workspace/boards',projectId,'contributors']">
        <i class="fa-solid fa-users"></i>
        <h5>Contributors</h5>
      </div>
      <div [ngStyle]="{'color':projectRouteColor==='details'?'#2f7fcf':'#222'}" class="workspace-board-bar"
        [routerLink]="['/workspaces/project-workspace/boards',projectId,'details']">
        <i class="fa-solid fa-circle-info"></i>
        <h5>Project details</h5>
      </div>
      <div [ngStyle]="{'color':projectRouteColor==='settings'?'#2f7fcf':'#222'}" class="workspace-board-bar"
        [routerLink]="['/workspaces/project-workspace/boards',projectId,'settings']">
        <i class="fa-solid fa-gear"></i>
        <h5>Project Settings</h5>
      </div>
    </div>
  </div>
</section>