<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <!-- navbar -->
    <app-workspace-left-nav [workspace]="workspace"></app-workspace-left-nav>



  </mat-sidenav>
  <mat-sidenav-content>
    <div class="workspace-container">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>

      <!-- workspace -->
      <app-workspace></app-workspace>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- modal -->
<div class="ws-modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="ws-close-modal" (click)="closeModal()">&times;</button>
    </div>
    <div class="flex flex-col xl:flex-row justify-start mt-2 pt-2 pl-8 pr-8 pb-12 gap-y-4">
      <div class="flex w-full justify-center xl:w-6/12">
        <form class="flex flex-col gap-y-2" [formGroup]="workspaceNameForm"
          (ngSubmit)="nameUpdate(workspaceNameForm.value)">
          <label for="name">Workspace Name</label>
          <input formControlName="data" type="text" value="{{workspace.name}}" (input)="updateName($event)">
          <button [disabled]="!isWorkSpaceNameUpdate"
            [ngClass]="{'opacity-50':!isWorkSpaceNameUpdate, 'cursor-not-allowed':!isWorkSpaceNameUpdate}"
            class="bg-primary rounded-lg mt-3 p-1 text-white text-xl">Save</button>
        </form>
      </div>
      <div class="flex w-full justify-center xl:w-6/12">
        <div class="flex flex-col gap-y-2">
          <label for="name">Workspace icon</label>
          <div class="flex gap-5 items-end">
            <ngx-emoji emoji="{{workspace.icon}}" size="36"></ngx-emoji>
            <i (click)="openEmojiBar()" class="workspace-icon-i fa-solid fa-pen-to-square mb-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- image upload modal -->
<div class="ws-modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isImageUpload.bol}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="ws-close-modal" (click)="closeImageUploadModal()">&times;</button>
    </div>
    <div class="flex flex-col justify-start mt-2 pt-2 pl-8 pr-8 pb-12 gap-y-4">
      <div class="w-full">
        <form class="flex flex-col gap-y-2">
          <input (input)="uploadCover($event)" id="uploadFile" [ngStyle]="{'display':'none'}" accept="image/*"
            type="file" />
          <label for="uploadFile" class="imageUploadLabel items-center text-center">Upload Image</label>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- page Delete Alert upload modal -->
<div class="ws-modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!deletePageData.bol}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="ws-close-modal" (click)="cancelPageDelete()">&times;</button>
    </div>
    <div class="flex flex-col justify-start mt-2 pt-2 pl-8 pr-8 pb-6 gap-y-4">
      <div class="w-full">
        <p class="text-xl">Do you really want to remove the page ?</p>
      </div>
      <div class="w-full flex justify-end gap-4 pageDeleteButton mt-2">
        <button (click)="cancelPageDelete()">Cancel</button>
        <button (click)="successDelete()">Remove</button>
      </div>
    </div>
  </div>
</div>

<emoji-mart *ngIf="isEmojiBar" (emojiClick)="addEmoji($event)"></emoji-mart>
<emoji-mart *ngIf="titleEmojiEdit.bol" (emojiClick)="addTitleEmoji($event,titleEmojiEdit.id)"></emoji-mart>
<div class="ws-overlay" [ngClass]="{'hidden':!isModal }" (click)="closeModal()"></div>
<div class="ic-overlay" [ngClass]="{'hidden':!isEmojiBar && !titleEmojiEdit.bol}" (click)="closeEmojiBar()"></div>
<div class="iu-overlay" [ngClass]="{'hidden':!isImageUpload.bol}" (click)="closeImageUploadModal()"></div>
<div class="iu-overlay" [ngClass]="{'hidden':!deletePageData.bol}" (click)="cancelPageDelete()"></div>