/* empty page */
.empty-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.empty-page > i {
  font-size: 50px;
  color: #6e6e6e;
}

.empty-page > h3 {
  font-family: 'JosefinSans-Bold';
  font-size: 30px;
  align-self: flex-end;
  color: #6e6e6e;
}
