<main>
  <section>

    <!-- First Section -->
    <div class="section-1-container">
      <div>
        <h2 class="text-4xl md:text-6xl">Build something great</h2>
      </div>
      <div>
        <h6 class="text-base md:text-xl">For every minute spent organizing, an hour is earned. Without Spending
          time Create a Work Space</h6>
      </div>
      <div class="mt-5">
        <button [routerLink]="['/workspaces/user-workspace']" *ngIf="isAuth">Try NoteHub</button>
        <button [routerLink]="['/auth/signup']" *ngIf="!isAuth">Try NoteHub</button>
      </div>
    </div>

    <!-- Shot Note -->
    <div class="section-2-container">
      <div>
        <h2 class="text-3xl md:text-5xl">Productivity and Project<br>Management</h2>
      </div>
      <div>
        <h6 class="text-base md:text-xl"><span>Choose a high-quality <br> Application.</span> Our Platform gives <br>
          User Management and Project
          Management
          Work Space
        </h6>
      </div>
    </div>

    <!-- Project Space -->
    <div class="section-4-container">
      <div class="flex flex-col md:flex-row items-start md:items-center justify-center">
        <div class="flex justify-center items-center md:block w-12/12 md:w-6/12">
          <div class="image">
            Photo
          </div>
        </div>
        <div class="right-bar w-12/12 md:w-6/12">
          <div>
            <h2 class="text-2xl md:text-4xl">Build Your Work Space for Productivity and Organization.</h2>
          </div>
          <div>
            <h6 class="text-base md:text-xl">Individuals and teams looking to improve their productivity and
              organization. It can help users Keep like a note book and manage their work and
              personal lives more effectively.</h6>
          </div>
        </div>
      </div>
    </div>

    <!-- User Workspace -->
    <div class="section-5-container">
      <div class="flex flex-col md:flex-row items-start md:items-center justify-center">
        <div class="right-bar w-12/12 md:w-6/12">
          <div>
            <h2 class="text-2xl md:text-4xl">Create, Track, and Release Projects.</h2>
          </div>
          <div>
            <h6 class="text-base md:text-xl">It is the process of planning, organizing, and controlling resources in
              order to achieve specific goals and objectives.</h6>
          </div>
        </div>
        <div class="flex justify-center items-center md:block w-12/12 md:w-6/12">
          <div class="image">
            Photo
          </div>
        </div>
      </div>
    </div>
  </section>
</main>