mat-sidenav {
  margin: 6px;
  width: 160px;
  border-right: none;
  background: #0e1525;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

mat-sidenav-container {
  height: calc(100vh - 75px);
}

.workspace-container {
  height: calc(100vh - 92px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 18px;
  padding: 8px;
  overflow: auto;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

.workspace-content-menu-block {
  position: fixed;
  z-index: 1000;
  min-height: 0;
  max-width: 220px;
  min-width: 180px;
  display: none;
  flex-direction: column;
  overflow: hidden auto;
  max-height: calc(60vh - 180px);
  padding: 6px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

.workspace-content-menu-block > ul {
  width: auto;
  padding: 2px 3px;
}

.workspace-content-menu-block-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 7px 6px;
}

.workspace-content-menu-block-list:hover {
  cursor: pointer;
  background-color: #e4dddd;
  border-radius: 6px;
}

.workspace-content-menu-block-list > mat-icon {
  font-size: 24px;
}

.workspace-content-menu-block-list > h5 {
  font-size: 18px;
}

/* modal */
.ws-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.ws-close-modal {
  font-size: 35px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.ws-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* icon bar */

label {
  font-size: 20px;
}

input {
  font-size: 18px;
  padding: 6px 8px;
  color: #4b4b4b;
  border: solid 1px #8e8e8e;
  border-radius: 6px;
  overflow: hidden;
}

ngx-emoji {
  display: block;
  width: 36px;
  height: 36px;
}

.workspace-icon-i {
  color: #888888;
  font-size: 19px;
}

.workspace-icon-i:hover {
  cursor: pointer;
}

emoji-mart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 25;
}

.ic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
}
