mat-sidenav {
  margin: 6px;
  width: 160px;
  border-right: none;
  background: #0e1525;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

mat-sidenav-container {
  height: calc(100vh - 75px);
}

.workspace-container {
  height: calc(100vh - 92px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 18px;
  padding: 8px;
  overflow: auto;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

/* modal */
.ws-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.ws-close-modal {
  font-size: 35px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.ws-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* icon bar */

label {
  font-size: 20px;
}

input {
  font-size: 18px;
  padding: 6px 8px;
  color: #4b4b4b;
  border: solid 1px #8e8e8e;
  border-radius: 6px;
  overflow: hidden;
}

ngx-emoji {
  display: block;
  width: 36px;
  height: 36px;
}

.workspace-icon-i {
  color: #888888;
  font-size: 19px;
}

.workspace-icon-i:hover {
  cursor: pointer;
}

emoji-mart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 25;
}

.ic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
  cursor: pointer;
}

/* image Upload Label */
.imageUploadLabel {
  background-color: #ebe6e6;
  padding: 6px 0px;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.iu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
  cursor: pointer;
}

.imageUploadLabel:hover {
  background-color: #d6d6d6;
}

.pageDeleteButton button:first-child {
  background-color: #0053a6;
}

.pageDeleteButton button {
  padding: 2px 9px;
  font-size: 18px;
  color: white;
  border: solid 1px transparent;
  background-color: #b01d1d;
  border-radius: 10px;
}
