<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <!-- navbar -->
    <app-workspace-left-nav></app-workspace-left-nav>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="workspace-container">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>

      <!-- workspace -->
      <app-workspace></app-workspace>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- content option menu -->
<div class="workspace-content-menu-block">
  <ul>
    <li class="workspace-content-menu-block-list">
      <mat-icon>text_fields</mat-icon>
      <h5>Text</h5>
    </li>
    <li class="workspace-content-menu-block-list">
      <mat-icon>text_fields</mat-icon>
      <h5>Text</h5>
    </li>
    <li class="workspace-content-menu-block-list">
      <mat-icon>text_fields</mat-icon>
      <h5>Text</h5>
    </li>
  </ul>
</div>