a,
button {
  font-family: JosefinSans-Regular;
  font-size: 0.9em;
}

nav {
  z-index: 100;
}

i:hover {
  cursor: pointer;
}

li:hover {
  background-color: rgba(255, 253, 253, 0.116);
  border-radius: 14px;
}

li {
  border-left: solid 3px transparent;
  padding: 12px 18px;
}

.currentRoute {
  border-left: solid 3px #0053a6;
  border-radius: 14px;
}
