<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="sidenav bg-blue " mode="over">
    <div class="pb-8 flex gap-4 justify-center ">
      <img class="h-9" src="https://notehub0.s3.ap-south-1.amazonaws.com/icons/iconWhite.png" alt="">
      <h1 class="mt-1 text-2xl">NoteHub</h1>
    </div>

    <div class="py-3 flex gap-3 align-middle">
      <i class="text-xl fa-solid fa-chart-line"></i>
      <p class="text-lg">Dashboard</p>
    </div>
    <div class="py-3 flex gap-4 align-middle">
      <i style="color: rgb(250, 65, 65);" class="text-xl fa-solid fa-right-from-bracket"></i>
      <p style="color: rgb(250, 65, 65);" class="text-lg">Logout</p>
    </div>
  </mat-drawer>

  <header class="w-full bg-blue flex">
    <i mat-button (click)="drawer.toggle()" class="fa-solid fa-bars"></i>
    <h1 class="text-lg">Admin Panel</h1>
  </header>

  <router-outlet></router-outlet>

</mat-drawer-container>