mat-sidenav {
  margin: 6px;
  width: 160px;
  border-right: none;
  background: #0e1525;
  border-radius: 6px;
  text-align: center;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.workspace-container {
  height: calc(100vh - 77px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 18px;
  padding: 8px;
  overflow: auto;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}
