<section class=" bg-blue flex justify-center content-center items-center">
  <div class="signBar py-8 px-3 sm:px-9 w-10/12 md:w-7/12 lg:w-5/12">
    <div class="flex justify-center w-full">
      <h2 class="text-center">Sign Up</h2>
    </div>

    <form class="mt-6" [formGroup]="signupForm" (ngSubmit)="submit(signupForm.value)">
      <div class="block mt-4">
        <label for="userName">Username</label>
        <input type="text" formControlName="userName" placeholder="Enter your username"
          class="w-full mt-2 h-10 md:h-11 authInput" (input)="checkUserExit($event)">
        <div class="w-full relative">
          <mat-spinner *ngIf="isUserLoading" class="userSpinner" [diameter]="30"></mat-spinner>
          <i *ngIf="!isUsernameExist && !isUserLoading && signupForm.get('userName')!.valid "
            class="userSpinnerTick text-success fa-solid fa-check"></i>
        </div>
        <small class="block text-sm pt-2"
          *ngIf="!signupForm.get('userName')!.valid && signupForm.get('userName')!.touched ">
          <span *ngIf="signupForm.get('userName').errors['required']">Field is required !</span>
          <span *ngIf="signupForm.get('userName').errors['minlength']">Must contain 4 letters !</span>
          <span *ngIf="signupForm.get('userName').errors['usernameStructure']">Must contain lowercase or numbers
            !</span>
        </small>
        <small *ngIf="signupForm.get('userName')!.valid  &&isUsernameExist" class="block text-sm pt-2">
          <span>Username already exist !</span>
        </small>
      </div>
      <div class="block mt-4">
        <label for="email">Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email"
          class="w-full mt-2 h-10 md:h-11 authInput">
        <small class="block text-sm pt-2" *ngIf="!signupForm.get('email')!.valid && signupForm.get('email')!.touched ">
          <span *ngIf="signupForm.get('email').errors['required']">Field is required !</span>
          <span spanName *ngIf="signupForm.get('email').errors['email']">Enter Valid email !</span>
        </small>
        <small *ngIf="authEmailFail && signupForm.valid">Enter Valid email !</small>
        <small *ngIf="authEmailExist && signupForm.valid">Email already Exist !</small>
      </div>
      <div class="block mt-4">
        <label for="userName">Password</label>
        <div class="relative">
          <input [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="●●●●● "
            class="w-full mt-2 h-10 md:h-11 authInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <span class="hideButton" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </div>
        <small class="block text-sm pt-2"
          *ngIf="!signupForm.get('password')!.valid && signupForm.get('password')!.touched ">
          <span *ngIf="signupForm.get('password').errors['required']">Field is required ! </span>
          <span *ngIf="signupForm.get('password').errors['minlength']">Enter Strong Password ! ,</span>
          <span *ngIf="signupForm.get('password').errors['upperCase']">Must Contain atleast 1 uppercase !</span>
          <span *ngIf="signupForm.get('password').errors['lowerCase']">Must Contain atleast 1 lowerCase !</span>
          <span *ngIf="signupForm.get('password').errors['number']">Must Contain atleast 1 number !</span>
          <span *ngIf="signupForm.get('password').errors['special']">Must Contain special character !@#%& !</span>
        </small>
      </div>

      <div class="orLine">
        <p>OR</p>
      </div>
      <div class=" flex justify-center w-full">
        <asl-google-signin-button type='standard' shape="rectangle" logo_alignment="center" text="continue_with"
          size='large' theme="filled_blue"></asl-google-signin-button>
      </div>
      <small *ngIf="googleEmailExist" class="text-sm mt-3 flex justify-center">
        <span>Email already used for another account !</span>
      </small>
      <button [disabled]="!signupForm.valid" class="w-full flex justify-center bg-blue py-4 mt-10">
        <p *ngIf="!isLoading">Sign Up</p>
        <p *ngIf="isLoading">Progressing</p>
        <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
      </button>
    </form>

    <div class="mt-5">
      <p>Have an account ? <a [routerLink]="['/auth/signin']"><u> Sign In now </u></a></p>
    </div>
  </div>
</section>