/* main .workspace start */

.main {
  width: 100%;
  position: relative;
}

/* workspace  title bar */

.workspace-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.workspace-title-icon > ngx-emoji {
  width: 24px;
  display: block;
  height: 24px;
}

.workspace-title-icon > h3 {
  font-size: 19px;
}

.workspace-title-menu > button {
  display: flex;
  align-items: center;
}

.workspace-title-menu-icon {
  font-size: 22px;
}

.workspace-title-menu-text {
  font-size: 15px;
}

mat-menu > button {
  align-items: center;
}

/* workspace cover image */

.workspace-cover-img {
  width: 100%;
  padding: 4px 0;
  height: 160px;
  background-size: 100% auto;
}

.workspace-cover-img > img {
  width: 100%;
  max-height: 100%;
}

.workspace-cover-img > div {
  position: absolute;
  right: 15px;
  bottom: 14px;
}

.workspace-cover-img label {
  border: solid 1px darkgrey;
  background-color: #e4dddd;
  padding: 1px 6px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.workspace-cover-img input {
  display: none;
}

.workspace-page-icon {
  width: 62px;
  padding: 10px 9px;
  position: absolute;
  bottom: -26px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-page-icon > ngx-emoji {
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.dragY input {
  display: block;
  cursor: pointer;
}

/*  workspace title container */

.workspace-title-container {
  width: 100%;
  padding: 25px 60px;
  overflow: hidden;
}

.workspace-title-container input {
  background-color: #fafafa;
  height: 100%;
}

.workspace-title-container input:focus {
  outline: none;
  border: solid 1px #6e6e6e;
  border-radius: 6px;
}

.workspace-title-container > h2 {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

/* workspace content container */

.workspace-content-container {
  width: 100%;
  padding: 6px 60px;
  padding-bottom: 66px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(60vh - 92px);
}

.workspace-content-set {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.workspace-content {
  /* display: inline; */
  width: 100%;
  min-width: 100%;
  font-size: 1.14em;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: #5f5f5f;
  padding: 3px 2px;
  min-height: 1em;
}

[placeholder]:empty::before {
  content: '';
}

[placeholder]:empty:focus::before {
  content: attr(placeholder);
  color: #555;
}

[contenteditable]:focus {
  outline: 0ch;
}

.workspace-content-handle {
  position: absolute;
  height: 100%;
  top: 4px;
  left: -53px;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.workspace-content-handle :hover {
  display: flex;
}
.handleHover:hover + .workspace-content-handle {
  display: flex;
}

.handleHover {
  position: relative;
}

.workspace-content-handle > mat-icon {
  font-size: 20px;
  color: #7e7d7d;
  cursor: grabbing;
  background-color: #ececec;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-content-handle-option-bar {
  background-color: #fff;
  color: #222;
  padding: 0px 6px;
  z-index: 10;
}

.workspace-content-handle-option-bar ul {
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
}

.workspace-content-handle-option-bar li {
  font-size: 17px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 4px 0;
  align-items: center;
  gap: 14px;
  padding: 3px 4px;
}

.workspace-content-handle-option-bar li:hover {
  cursor: pointer;
  background-color: #e4dddd;
  border-radius: 6px;
}

/* empty page */
.empty-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.empty-page > i {
  font-size: 50px;
  color: #6e6e6e;
}

.empty-page > h3 {
  font-family: 'JosefinSans-Bold';
  font-size: 30px;
  align-self: flex-end;
  color: #6e6e6e;
}

/* Workspace block */

.workspace-content-menu-block {
  position: fixed;
  z-index: 1000;
  min-height: 0;
  max-width: 220px;
  min-width: 180px;
  display: none;
  flex-direction: column;
  overflow: hidden auto;
  max-height: calc(60vh - 180px);
  padding: 6px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

.workspace-content-menu-block > ul {
  width: auto;
  padding: 2px 3px;
}

.workspace-content-menu-block-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 7px 6px;
}

.workspace-content-menu-block-list:hover {
  cursor: pointer;
  background-color: #e4dddd;
  border-radius: 6px;
}

.optionsBar {
  cursor: pointer;
  background-color: #e4dddd;
  border-radius: 6px;
}

.workspace-content-menu-block-list > mat-icon {
  font-size: 24px;
}

.workspace-content-menu-block-list > option {
  font-size: 18px;
}

/* workspace option */
.bulletOption {
  align-self: flex-start;
  margin-top: 12px;
  padding: 2px 5px;
  font-size: 8px;
}

.heading1Option {
  font-size: 30px;
  font-family: Jaldi-Bold;
}

.heading2Option {
  font-size: 26px;
  font-family: Jaldi-Bold;
}

.heading3Option {
  font-size: 22px;
  font-family: Jaldi-Bold;
}

.toggleOption {
  align-self: flex-start;
  margin-top: 7px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: transparent;
  transition-duration: 0.3s;
}

.toggleOption:hover {
  background-color: #dedede;
  cursor: pointer;
}
