<section *ngIf="!pageEmpty; else elseBlock">
  <!-- main container -->
  <div class="main" id="hello">
    <div class="workspace-title">
      <div class="workspace-title-icon">
        <ngx-emoji emoji="{{ pagesDetails.icon }}" size="24"></ngx-emoji>
        <h3>{{ pagesDetails.title }}</h3>
      </div>
      <div class="workspace-title-menu">
        <div class="float-left pr-2">
          <div *ngIf="isSavingContent" class="flex gap-1 items-center ">
            <mat-icon class="text-lg">cloud_sync</mat-icon>
            <p>Saving...</p>
          </div>
          <div *ngIf="!isSavingContent" class="h-4">
            <mat-icon class="text-lg">cloud_done</mat-icon>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="workspace-title-menu-icon">delete</mat-icon>
            <span class="workspace-title-menu-text">Delete</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="workspace-title-menu-icon">ios_share</mat-icon>
            <span class="workspace-title-menu-text">Export</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="workspace-cover-img" *ngIf="pagesDetails.coverImg.url; else elseCoverImg" [ngStyle]="{
        'background-position-y': backgroundPositionY,
        'background-image': backgroundImage,
        cursor: cursor
      }">
      <div class="flex justify-between gap-1" *ngIf="!isbackgroundPositionY">
        <form action="">
          <input (input)="uploadCover($event, pagesDetails._id)" id="files" type="file" accept="image/*" />
          <label for="files">Change Cover</label>
        </form>

        <div (click)="dragOpenCoverImage()">
          <label>Reposition</label>
        </div>
      </div>
      <div class="flex flex-col gap-y-1" *ngIf="isbackgroundPositionY">
        <div class="dragY flex w-full">
          <input (input)="dragYPosition($event)" type="range" min="0" max="100"
            value="{{ pagesDetails.coverImg.positionY }}" />
        </div>

        <div class="flex justify-start gap-1">
          <div (click)="dragCloseCoverImage()">
            <label>Cancel</label>
          </div>

          <div (click)="dragSaveCoverImage(pagesDetails._id)">
            <label>Save</label>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseCoverImg>
      <div class="workspace-cover-img">
        <div>
          <form action="upload image">
            <input (input)="uploadCover($event, pagesDetails._id)" id="files" type="file" accept="image/*" />
            <label for="files">Add Cover</label>
          </form>
        </div>
      </div>
    </ng-template>
    <div class="workspace-page-icon" (click)="editPageIcon(pagesDetails._id)">
      <ngx-emoji emoji="{{ pagesDetails.icon }}" size="42"></ngx-emoji>
    </div>
  </div>

  <!-- title container -->
  <div class="workspace-title-container">
    <input (input)="pageNameUpdate($event, pagesDetails._id)" maxlength="20" value="{{ pagesDetails.title }}"
      class="text-3xl w-full md:w-1/2 md:text-4xl" />
  </div>

  <!-- workspace content container -->
  <div class="workspace-content-container">

    <div *ngFor="let element of pagesDetails.levelPage; let i = index" class="workspace-content-set">

      <!-- text -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'text' && element.toggleInc === 0" [ngStyle]="{width:element.level}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Type '/' for commands" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'text')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- text options -->
      <div id="main-{{element._id}}" class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'text' && element.toggleInc > 0"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Type '/' for commands" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'text')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- bullet -->
      <div class="handleHover flex gap-1 items-center" *ngIf="element.type === 'bullet' && element.toggleInc === 0"
        [ngStyle]="{width:element.level}" (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div class="flex gap-1">
          <i class="bulletOption fa-solid fa-circle"></i>
          <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
            placeholder="List" (input)="inputPage($event,element._id)"
            (keydown)="onKeydown($event,element._id,'bullet')">{{
            element.content
            }}</div>
        </div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- bullet options -->
      <div class="handleHover flex gap-1 items-center" *ngIf="element.type === 'bullet' && element.toggleInc > 0"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div class="flex gap-1">
          <i class="bulletOption fa-solid fa-circle"></i>
          <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
            placeholder="List" (input)="inputPage($event,element._id)"
            (keydown)="onKeydown($event,element._id,'bullet')">{{
            element.content
            }}</div>
        </div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- toggle -->
      <div class="handleHover flex gap-1 items-center" *ngIf="element.type === 'toggle' && element.toggleInc === 0"
        [ngStyle]="{width:element.level}" (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div class="flex gap-1 items-center">
          <i id="toggle-{{element._id}}" class="toggleOption fa-solid fa-angle-right"
            (click)="toggleOption(i,element._id)"
            [ngStyle]="{transform:element.isToggle?'rotate(90deg)':'rotate(0)'}"></i>
          <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
            placeholder="Toggle" (input)="inputPage($event,element._id)"
            (keydown)="onKeydown($event,element._id,'toggle')">{{
            element.content
            }}</div>
        </div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- toggle options -->
      <div id="main-{{element._id}}" *ngIf="element.type === 'toggle' && element.toggleInc > 0"
        class="handleHover flex gap-1 items-center"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div class="flex gap-1 items-center">
          <i id="toggle-{{element._id}}" class="toggleOption fa-solid fa-angle-right"
            (click)="toggleOption(i,element._id)"
            [ngStyle]="{transform:element.isToggle?'rotate(90deg)':'rotate(0)'}"></i>
          <div id="{{element._id}}" class="workspace-content" contenteditable="true" spellcheck="true"
            placeholder="Toggle" (input)="inputPage($event,element._id)"
            (keydown)="onKeydown($event,element._id,'toggle')">{{
            element.content
            }}</div>
        </div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>
        </div>

        <mat-menu #menu="matMenu" class="p-0">
          <div class="workspace-content-handle-option-bar">
            <ul>
              <li (click)="addNewNodeWithChild(element._id,element.type)">
                <p class="text-sm justify-self-start">Add new node with child</p>
                <p class="text-sm text-black opacity-50">enter</p>
              </li>
              <li (click)="addNewNode(element._id,element.type)">
                <p class="text-sm justify-self-start">Add new node</p>
                <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
              </li>
              <li (click)="changeToChild(element._id,element.type)">
                <p class="text-sm justify-self-start">Change to child</p>
                <p class="text-sm text-black opacity-50">tab</p>
              </li>
              <li>
                <p class="text-sm justify-self-start">Remove All Child</p>
                <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
              </li>
              <li>
                <p class="text-sm justify-self-start">Remove a node</p>
                <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
              </li>
              <li>
                <p class="text-sm justify-self-start">Change to parent</p>
                <p class="text-sm text-black opacity-50">shift + tab</p>
              </li>
            </ul>
          </div>
        </mat-menu>
      </div>

      <!-- Heading 1 -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading1' && element.toggleInc === 0" [ngStyle]="{width:element.level}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading1Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 1" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading1')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- heading 1 options -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading1' && element.toggleInc > 0"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading1Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 1" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading1')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- Heading 2 -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading2' && element.toggleInc === 0" [ngStyle]="{width:element.level}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading2Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 2" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading2')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- heading 2 options -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading2' && element.toggleInc > 0"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading2Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 2" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading2')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- Heading 3 -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading3' && element.toggleInc === 0" [ngStyle]="{width:element.level}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading3Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 3" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading3')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>

      <!-- heading 3 options -->
      <div class="handleHover flex flex-col gap-1 items-center"
        *ngIf="element.type === 'heading3' && element.toggleInc > 0"
        [ngStyle]="{width:element.level,display:element.childToggle==='open'?'block':'none'}"
        (mouseover)="displayHandle(element._id)" (mouseout)="noneHandle(element._id)">
        <div id="{{element._id}}" class="heading3Option workspace-content" contenteditable="true" spellcheck="true"
          placeholder="Heading 3" (input)="inputPage($event,element._id)"
          (keydown)="onKeydown($event,element._id,'heading3')">{{
          element.content
          }}</div>
        <div id="handle-{{element._id}}" class="workspace-content-handle">
          <mat-icon>add</mat-icon>
          <mat-icon mat-button [matMenuTriggerFor]="menu">drag_indicator</mat-icon>

          <mat-menu #menu="matMenu" class="p-0">
            <div class="workspace-content-handle-option-bar">
              <ul>
                <li (click)="addNewNodeWithChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node with child</p>
                  <p class="text-sm text-black opacity-50">enter</p>
                </li>
                <li (click)="addNewNode(element._id,element.type)">
                  <p class="text-sm justify-self-start">Add new node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + q</p>
                </li>
                <li (click)="changeToChild(element._id,element.type)">
                  <p class="text-sm justify-self-start">Change to child</p>
                  <p class="text-sm text-black opacity-50">tab</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove All Child</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + w</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Remove a node</p>
                  <p class="text-sm text-black opacity-50">ctrl + shift + e</p>
                </li>
                <li>
                  <p class="text-sm justify-self-start">Change to parent</p>
                  <p class="text-sm text-black opacity-50">shift + tab</p>
                </li>
              </ul>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- content option menu -->
<div class="workspace-content-menu-block">
  <ul>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'text')">
      <mat-icon>title</mat-icon>
      <option>Text</option>
    </li>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'bullet')">
      <mat-icon>format_list_bulleted</mat-icon>
      <option>Bulleted list</option>
    </li>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'toggle')">
      <mat-icon>arrow_right</mat-icon>
      <option>Toggle list</option>
    </li>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'heading1')">
      <mat-icon>text_fields</mat-icon>
      <option>Heading 1</option>
    </li>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'heading2')">
      <mat-icon>text_fields</mat-icon>
      <option>Heading 2</option>
    </li>
    <li class="workspace-content-menu-block-list" (mouseover)="closeActiveOption()"
      (click)="updateSecType(pagesDetails._id,'heading3')">
      <mat-icon>text_fields</mat-icon>
      <option>Heading 3</option>
    </li>
  </ul>
</div>

<ng-template #elseBlock>
  <div class="empty-page-container">
    <div class="empty-page">
      <i class="fa-solid fa-file"></i>
      <h3>Open a page</h3>
    </div>
  </div>
</ng-template>