<div id="particles-js"></div>
<section class=" bg-blue py-20 flex justify-center content-center h-auto">
  <div style="z-index: 1;" class="signinBar py-8 px-9 w-10/12 md:w-7/12 lg:w-5/12">
    <div class="flex justify-center w-full">
      <h2 class="text-center">Sign Up</h2>
    </div>

    <div class=" signinGoogleBar flex justify-center w-1/2 lg:w-1/3">
      <img class="googleLogo" src="https://pngimg.com/uploads/google/google_PNG19644.png" alt="">
    </div>

    <form class="mt-6">
      <div class="block mt-4">
        <label for="userName">Username</label>
        <input type="text" name="userName" placeholder="Enter your username" class="w-full mt-2 h-10 md:h-11 authInput">
      </div>
      <div class="block mt-4">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" class="w-full mt-2 h-10 md:h-11 authInput">
      </div>
      <div class="block mt-4">
        <label for="userName">Password</label>
        <input type="password" name="password" placeholder="●●●●● " class="w-full mt-2 h-10 md:h-11 authInput">
      </div>

      <button type="button" class="w-full bg-blue py-4 mt-7">Sign Up</button>
    </form>

    <div class="mt-5">
      <p>Have an account ? <a href=""><u> Sign In now </u></a></p>
    </div>
  </div>
</section>

<app-footer></app-footer>