<section>
  <div class="workspace w-full flex justify-start gap-2">
    <ngx-emoji emoji="{{workspace.icon}}" size="24"></ngx-emoji>
    <p class="workspace-name">{{ workspace.name }}</p>
  </div>

  <div class="mt-3 workspace-settings">
    <div class="workspace-settings-tool" (click)="openModal()">
      <i class="fa-solid fa-gear"></i>
      <h5>Settings</h5>
    </div>
  </div>
  <hr>
  <div class="w-full pb-2">
    <p class="text-start text-sm text-opacity-90 ml-1 text-white">Pages :</p>
  </div>
  <div class="workspace-pages-container" *ngIf="pagesEmpty">
    <div class="workspace-pages-bar" *ngFor="let page of pagesDetails;let pgIndex=index"
      (click)="sendPageDetails(pgIndex)">
      <ngx-emoji emoji="{{page.icon}}" size="24"></ngx-emoji>
      <p class="workspace-pages-name">{{page.title}}</p>
    </div>
  </div>

  <div (click)="createPage()" class="mt-3 workspace-pages-new gap-2 mb-4">
    <i class="fa-solid fa-plus"></i>
    <h5>New</h5>
  </div>
</section>