<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <!-- navbar -->
    <app-left-pro-workspace-nav></app-left-pro-workspace-nav>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="workspace-container">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>

      <!-- workspace -->
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- modals -->

<!-- ProjectSettings -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isProjectSettingsModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <div class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Project Space name :</label>
        <input type="text" value="{{userDetails?.workSpaces.projectWorkspace.name}}" (input)="projectName($event)">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Your ID :</label>
        <input type="text" value="{{userDetails?.userName}}" disabled>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Your Email :</label>
        <input type="email" value="{{userDetails?.email}}" disabled>
      </div>
    </div>
  </div>
</div>

<!-- Board Create -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isCreateProjectModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <form [formGroup]="BoardCreatingForm" (ngSubmit)="createBoard(BoardCreatingForm.value)"
      class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Board name :</label>
        <input class="boardInput" formControlName="boardName" type="text" placeholder="Enter board name">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="projectType">Project type :</label>
        <input class="boardInput" formControlName="projectType" type="text" placeholder="Enter project type">
      </div>

      <div *ngIf="boardAlreadyExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Board Already exist</small>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-end gap-2 mt-3">
        <button [ngClass]="{'opacity-50':!BoardCreatingForm.valid,'cursor-not-allowed':!BoardCreatingForm.valid}"
          [disabled]=" !BoardCreatingForm.valid" class="Board-Modal-Button bg-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Create new Role -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isCreateRoleModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <form [formGroup]="RoleCreatingForm" (ngSubmit)="createRole(RoleCreatingForm.value)"
      class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>Role Name :</label>
        <input class="boardInput" formControlName="roleName" type="text" placeholder="Enter board name">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="projectType">Color :</label>
        <input class="boardInput" formControlName="color" type="color" placeholder="Enter project type">
      </div>

      <div *ngIf="roleAlreadyExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Role Already exist</small>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-end gap-2 mt-3">
        <button [ngClass]="{'opacity-50':!RoleCreatingForm.valid,'cursor-not-allowed':!RoleCreatingForm.valid}"
          [disabled]=" !RoleCreatingForm.valid" class="Board-Modal-Button bg-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Create new Contributors -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isCreateContributorsModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <form [formGroup]="ContributorsCreatingForm" (ngSubmit)="createContributor(ContributorsCreatingForm.value)"
      class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>Username</label>
        <input class="boardInput" formControlName="contributorName" type="text" placeholder="Enter username">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>Role</label>
        <select formControlName="roleName">
          <option value="null" disabled>Select Option</option>
          <option *ngFor="let val of boardDetails?.roles" value="{{val.name}}">{{val.name}}</option>
        </select>
      </div>

      <div *ngIf="ContributorAlreadyExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Contributor Already exist</small>
      </div>
      <div *ngIf="ContributorNotExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Please enter valid Contributor user name !</small>
      </div>
      <div *ngIf="ContributorAdmin" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">User name matched to admin !</small>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-end gap-2 mt-3">
        <button
          [ngClass]="{'opacity-50':!ContributorsCreatingForm.valid,'cursor-not-allowed':!ContributorsCreatingForm.valid}"
          [disabled]=" !ContributorsCreatingForm.valid" class="Board-Modal-Button bg-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Remove the Contributor Modal -->
<div class="modal w-10/12 md:w-6/12"
  [ngClass]="{'hidden':isRemoveContributorsModal?.userId ===''|| !isRemoveContributorsModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <div class="flex flex-col justify-start mt-2 pt-2 pl-8 pr-8 pb-6 gap-y-4">
      <div class="w-full">
        <p class="text-xl">Do you really want to remove the contributor ?</p>
      </div>
      <div class="w-full flex justify-end gap-4 pageDeleteButton mt-2">
        <button (click)="closeBoardModal()">Cancel</button>
        <button (click)="successDeleteContributor()">Remove</button>
      </div>
    </div>
  </div>
</div>

<!-- Remove the Roles Modal -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':isRemoveRolesModal?.roleName===''|| !isRemoveRolesModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <div class="flex flex-col justify-start mt-2 pt-2 pl-8 pr-8 pb-6 gap-y-4">
      <div class="w-full">
        <p class="text-xl">Do you really want to remove the role ?</p>
        <br>
        <p class="text-xl">NB : Every Contributors under the role will remove !</p>
      </div>
      <div class="w-full flex justify-end gap-4 pageDeleteButton mt-2">
        <button (click)="closeBoardModal()">Cancel</button>
        <button (click)="successDeleteRoles()">Remove</button>
      </div>
    </div>
  </div>
</div>


<!-- Board Settings Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isProjectSettingsModal }" (click)="closeBoardModal()"></div>

<!-- Project Board create Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isCreateProjectModal }" (click)="closeBoardModal()"></div>

<!-- Project new role create Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isCreateRoleModal }" (click)="closeBoardModal()"></div>

<!-- Project new Contributorscreate Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isCreateContributorsModal }" (click)="closeBoardModal()"></div>

<!-- Remove Contributorscreate Overlay -->
<div class="overlay" [ngClass]="{'hidden':isRemoveContributorsModal?.userId ===''|| !isRemoveContributorsModal }"
  (click)="closeBoardModal()"></div>

<!-- Remove Roles Overlay -->
<div class="overlay" [ngClass]="{'hidden':isRemoveRolesModal?.roleName ===''|| !isRemoveRolesModal }"
  (click)="closeBoardModal()"></div>