mat-sidenav {
  margin: 6px;
  width: 160px;
  border-right: none;
  background: #0e1525;
  border-radius: 6px;
  text-align: center;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.workspace-container {
  height: calc(100vh - 77px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 18px;
  padding: 8px;
  overflow: auto;
  box-shadow: 3px 5px 20px rgb(0 0 0 / 22%);
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  font-size: 35px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* Board Settings Modal */
.boardSettings label {
  font-size: 21px;
}

.boardSettings input {
  background-color: #f1f1f1;
  border: solid 1px #bfbfbf;
  border-radius: 4px;
  padding: 5px 6px;
  font-size: 18px;
  color: #747474;
  overflow: hidden;
}

.boardSettings input[disabled] {
  cursor: not-allowed;
}

.boardSettings select {
  padding: 5px 6px;
}

.boardSettings select:focus {
  outline: none;
}

.boardSettings input:focus {
  outline: none;
}

/* Borad Creating */
.Board-Modal-Button {
  font-size: 18px;
  color: white;
  padding: 3px 20px;
  border-radius: 6px;
}

.pageDeleteButton button:first-child {
  background-color: #0053a6;
}

.pageDeleteButton button {
  padding: 2px 9px;
  font-size: 18px;
  color: white;
  border: solid 1px transparent;
  background-color: #b01d1d;
  border-radius: 10px;
}
