<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <!-- navbar -->
    <app-left-pro-workspace-nav></app-left-pro-workspace-nav>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="workspace-container">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>

      <!-- workspace -->
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- modals -->

<!-- ProjectSettings -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isProjectSettingsModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <div class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Project Space name :</label>
        <input type="text" value="{{userDetails?.workSpaces.projectWorkspace.name}}" (input)="projectName($event)">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Your ID :</label>
        <input type="text" value="{{userDetails?.userName}}" disabled>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Your Email :</label>
        <input type="email" value="{{userDetails?.email}}" disabled>
      </div>
    </div>
  </div>
</div>

<!-- Board Create -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isCreateProjectModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <form [formGroup]="BoardCreatingForm" (ngSubmit)="createBoard(BoardCreatingForm.value)"
      class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="boardName">Board name :</label>
        <input class="boardInput" formControlName="boardName" type="text" placeholder="Enter board name">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="projectType">Project type :</label>
        <input class="boardInput" formControlName="projectType" type="text" placeholder="Enter project type">
      </div>

      <div *ngIf="boardAlreadyExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Board Already exist</small>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-end gap-2 mt-3">
        <button [ngClass]="{'opacity-50':!BoardCreatingForm.valid,'cursor-not-allowed':!BoardCreatingForm.valid}"
          [disabled]=" !BoardCreatingForm.valid" class="Board-Modal-Button bg-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Create new Role -->
<div class="modal w-10/12 md:w-6/12" [ngClass]="{'hidden':!isCreateRoleModal}">
  <div class="flex flex-col">
    <div class="flex justify-end mr-4">
      <button class="close-modal" (click)="closeBoardModal()">&times;</button>
    </div>
    <form [formGroup]="RoleCreatingForm" (ngSubmit)="createRole(RoleCreatingForm.value)"
      class="flex flex-col justify-start pt-2 pl-8 pr-8 pb-6 gap-y-4 boardSettings">
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label>Role Name :</label>
        <input class="boardInput" formControlName="roleName" type="text" placeholder="Enter board name">
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-between gap-2">
        <label for="projectType">Color :</label>
        <input class="boardInput" formControlName="color" type="color" placeholder="Enter project type">
      </div>

      <div *ngIf="roleAlreadyExist" class="w-full flex flex-col lg:flex-row justify-start mt-3">
        <small class="text-red">Role Already exist</small>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-end gap-2 mt-3">
        <button [ngClass]="{'opacity-50':!RoleCreatingForm.valid,'cursor-not-allowed':!RoleCreatingForm.valid}"
          [disabled]=" !RoleCreatingForm.valid" class="Board-Modal-Button bg-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Board Settings Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isProjectSettingsModal }" (click)="closeBoardModal()"></div>


<!-- Project Board create Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isCreateProjectModal }" (click)="closeBoardModal()"></div>

<!-- Project new role create Overlay -->
<div class="overlay" [ngClass]="{'hidden':!isCreateRoleModal }" (click)="closeBoardModal()"></div>