/* ------------------------ */
/* Importing Fonts */
/* ------------------------ */

@font-face {
  font-family: Jaldi-Regular;
  src: url(./assets/fonts/Jaldi/Jaldi-Regular.ttf);
}

@font-face {
  font-family: Jaldi-Bold;
  src: url(./assets/fonts/Jaldi/Jaldi-Bold.ttf);
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: JosefinSans-Light;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-Light.ttf);
}

@font-face {
  font-family: JosefinSans-Regular;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: JosefinSans-SemiBold;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* Tailwind Setup */
/* ------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body,
html {
  font-family: Jaldi-Regular;
  cursor: auto;
}

/* Scroll bar */
::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #949494;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

a:hover {
  cursor: pointer;
}
